name: Check requirements file consistency

on:
  push:
  pull_request:

permissions: {}

jobs:
  requirements-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/uv-setup/
        with:
          dev: false
      - run: ./requirements/update_requirements.py
      - run: git diff --exit-code
